* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Slab", serif;
}

:root {
  --primary: #d3423d;
  --accent: #0e0e0e;
  --accent-2: #3a3939;
  --pop: #e43434;
  --bg-color: #444444;
}

body {
  background-color: var(--bg-color);
}

.navigation {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar {
  border-right: 2px solid var(--accent);
  box-shadow: rgba(0, 0, 0, 0.25) 2px 0px 3px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100vh;
  position: fixed;
  text-align: center;
  padding-top: 25px;
}

.profile {
  color: var(--accent);
}

.profile h6 {
  color: var(--accent-2);
  font-size: 8px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  height: 105px;
  width: 105px;
  margin-bottom: 5px;
}

.sidebar img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.links li {
  list-style-type: none;
  margin: 20px 0;
}

.links li a {
  text-decoration: none;
  color: var(--accent);
  padding: 20px 0;
}

.social-links img {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.introduction {
  padding: 20px;
  margin-left: 200px;
}

.hero {
  font-size: 1.5vw;
  height: 700px;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#changingText {
  color: var(--primary);
  border-right: 1px solid black;
  animation: cursoranim 1s linear infinite;
}

@keyframes cursoranim {
  50% {
    border-right: 1px solid rgba(0, 0, 0, 0);
  }
}

#about {
  line-height: 2vw;
  height: 700px;
  padding-left: calc(200px + 12.5vw);
  padding-right: 12.5vw;
  padding-top: 100px;
  color: var(--secondary-color);
}

#about h1 {
  color: var(--primary-color);
  font-size: 2.5vw;
  margin-bottom: 20px;
}

#about p {
  margin: 12px 0px;
  font-size: 1.2vw;
}

#about h2 {
  font-size: 1.8vw;
}

.about__cta {
  display: flex;
  width: 32vw;
  margin: auto;
  padding-top: 20px;
}

.about__cta button {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.2vw;
  margin-right: 1vw;
  width: 8vw;
  height: 3vw;
  border-radius: 999px;
  background-color: var(--primary);
  color: var(--accent);
}

#skills {
  height: 700px;
  margin-left: calc(190px + (100vw - 200px - 60vw) / 2);
}

#skills h1 {
  color: var(--primary-color);
  font-size: 2.5vw;
  margin-bottom: 20px;
  padding-top: 80px;
}

.skill-card {
  font-size: 1vw;
  width: 18.5vw;
  height: 17vw;
}

.skill-card p {
  text-align: center;
}

.skills__logos {
  padding-left: 2px;
  color: var(--secondary-color);
  width: 59vw;
  display: grid;
  gap: 1.3vw;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills__logos div:first-child {
  grid-row: span 2;
}

.skills__logos div:nth-child(3) {
  grid-row: span 2;
}

.skills__logos img {
  margin: 0.7vw 7.5vw;
}

.skill-container {
  background-color: var(--accent-2);
  height: 17vw;
  padding: 1vwpx 1vw;
  border: 2px solid var(--accent);
}

#projects {
  height: 700px;
  margin-left: 200px;
}

#projects h1 {
  margin-left: 190px;
  color: var(--primary-color);
  font-size: 2.5vw;
  margin-bottom: 20px;
  padding-top: 80px;
}

.projects__project-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: fit-content;
}

.project-cards__project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 2px;
  transition: transform 100ms ease-in;
}

.project-cards__project-card img {
  width: 12vw;
}

.project-cards__project-card:hover {
  transform: scale(105%);
}

.project-card__action-bar {
  display: flex;
  width: 222px;
  justify-content: right;
  align-items: center;
}

#contact {
  color: var(--secondary-color);
  height: 500px;
  margin-left: calc(190px + (100vw - 200px - 60vw) / 2);
}

#contact h1 {
  color: var(--primary-color);
  font-size: 2.5vw;
  margin-bottom: 20px;
  padding-top: 80px;
}

#contact form {
  width: 40vw;
  margin-left: auto;
  margin-right: calc((100vw - 200px - 40vw) / 2);
}

.input-section {
  margin: 10px 0px;
}

#contact form input {
  border: 1px solid var(--accent);
  background-color: white;
  outline: none;
  width: 40vw;
  font-family: "Montserrat", sans-serif;
}

#contact form textarea {
  border: 1px solid var(--accent);
  resize: none;
  background-color: white;
  outline: none;
  width: 40vw;
  height: 100px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

#contact form button {
  margin: 0px calc((40vw - 8vw) / 2);
  font-weight: 700;
  font-size: 1.2vw;
  width: 8vw;
  height: 3vw;
  border-radius: 999px;
  background-color: var(--primary);
}

footer {
  border-top: 2px solid var(--accent);
  height: 200px;
  background-color: var(--accent-2);
  padding: 20px 0px;
  margin-left: 200px;
  display: flex;
  align-items: center;
}

.footer__content {
  margin: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer h1 {
  padding: 5px 0px;
  color: var(--primary);
}

footer p {
  padding: 5px 0px;
  color: var(--secondary-color);
  width: 500px;
}

.hidden {
  display: none;
}

#modal-window {
  position: absolute;
  display: flex;
  align-items: center;
  transform: translateY(-1400px);
  width: 100vw;
  height: 100vh;
}

#modal-window__content {
  border: 2px solid var(--accent);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 2px;
  margin-left: calc(200px + (100vw - 200px - 40vw) / 2);
  color: var(--accent);
  padding: 20px;
  border-radius: 20px;
  width: 40vw;
  height: 38vw;
  background-color: var(--primary);
}

#modal-window__content h1 {
  font-size: 2.5vw;
  color: var(--accent);
}

#modal-window__content h2 {
  font-size: 1.8vw;
}

#modal-window__content p {
  font-size: 1.2vw;
  color: black;
}

#content__button {
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin: 0.5vw auto;
  font-size: 1.2vw;
  width: 8vw;
  height: 3vw;
  border-radius: 999px;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
}

button {
  border: 1px solid var(--accent);
}

@media screen and (max-height: 580px) {
  .profile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
